{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container-xxl py-5 bg-dark hero-header">
		<div class="container text-center my-5 pt-5 pb-4">
			<h1 class="display-3 text-white mb-3 animated slideInDown">Connexion</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center text-uppercase">
					<li class="breadcrumb-item">
						<a href="/">Acceuil</a>
					</li>
					<li class="breadcrumb-item text-white active" aria-current="page">Connexion</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Container Form Login Start -->
	<div class="container-xxl pb-5 px-0 wow fadeInUp" data-wow-delay="0.1s" id="">
		<div class="row g-0">
			<div class="col-lg-6">
				<div class="imagelogin">
					<span></span>
				</div>
			</div>
			<div class="col-lg-6 bg-dark d-flex align-items-center">
				<div class="p-5 col-12 wow fadeInUp" data-wow-delay="0.2s">
					<h5 class="section-title ff-secondary text-start text-primary fw-normal">Authentification</h5>
					<h1 class="text-white mb-4">Veuillez vous connecter</h1>
					<div class="row g-3">
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									Vous êtes connecté avec
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}">Deconnexion</a>
								</div>
							{% endif %}

							<div class="col-md-12 py-3">
								<div class="form-floating">
									<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="email" required autofocus>
									<label for="inputEmail">Email</label>
								</div>
							</div>
							<div class="col-md-12 py-3">
								<div class="form-floating">
									<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
									<label for="inputPassword">Mot de Passe</label>
								</div>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="row justify-content-center align-items-center">
								<div class="col-lg-6  py-3">
									<button class="btn btn-primary w-100 py-3" type="submit">Se connecter</button>
								</div>
								<div class="col-lg-6 text-center py-3">
									<a href="/register">Créer un compte</a>
								</div>
							</div>
							{# See https://symfony.com/doc/current/security/remember_me.html #}
							<div class="checkbox mb-3">
								<label>
									<input type="checkbox" name="_remember_me">
									Se souvenir de moi
								</label>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Container Form Login End -->

{% endblock %}
