{% extends 'base.html.twig' %}

{% block title %}Reparation index{% endblock %}

{% block body %}
    <h1>Reparation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Prix</th>
                <th>DateCreate</th>
                <th>DateUpdate</th>
                <th>DateDelete</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reparation in reparations %}
            <tr>
                <td>{{ reparation.id }}</td>
                <td>{{ reparation.description }}</td>
                <td>{{ reparation.statut }}</td>
                <td>{{ reparation.prix }}</td>
                <td>{{ reparation.dateCreate ? reparation.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reparation.dateUpdate ? reparation.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reparation.dateDelete ? reparation.dateDelete|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reparation.date ? reparation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reparations_show', {'id': reparation.id}) }}">show</a>
                    <a href="{{ path('app_reparations_edit', {'id': reparation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reparations_new') }}">Create new</a>
{% endblock %}
