{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
	<div class="container text-center my-5 pt-5 pb-4">
		<h1 class="display-3 text-white mb-3 animated slideInDown">Contactez nous</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb justify-content-center text-uppercase">
				<li class="breadcrumb-item">
					<a href="/">Acceuil</a>
				</li>
				<li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
			</ol>
		</nav>
	</div>
</div>
<!-- Contact Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
			<h5 class="section-title ff-secondary text-center text-primary fw-normal">Contactez nous</h5>
			<h1 class="mb-5">Contactez nous pour une quelconque demande</h1>
		</div>
		<div class="row g-4">
			<div class="col-12">
				<div class="row gy-4">
					<div class="col-md-4">
						<h5 class="section-title ff-secondary fw-normal text-start text-primary">Commandes</h5>
						<p>
							<i class="fa fa-envelope-open text-primary me-2"></i>sanarLav@gmail.com</p>
					</div>
					<div class="col-md-4">
						<h5 class="section-title ff-secondary fw-normal text-start text-primary">General</h5>
						<p>
							<i class="fa fa-envelope-open text-primary me-2"></i>info.sanarlav@gmail.com</p>
					</div>
					<div class="col-md-4">
						<h5 class="section-title ff-secondary fw-normal text-start text-primary">Techno</h5>
						<p>
							<i class="fa fa-envelope-open text-primary me-2"></i>tech.sanarlav@gmail.com</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
				<iframe class="position-relative rounded w-100 h-100" src="https://www.google.com/maps/embed/v1/place?q=Sanar,+Saint-Louis,+Sénégal&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
			<div class="col-md-6">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
					{{ form_start(form) }}
						<div class="row g-3">
							<div class="col-md-6">
								<div class="form-floating">
									<input type="text" name="{{ field_name(form.nom) }}" class="form-control" id="name" placeholder="Nom complet">
									<label for="name">Prenom & Nom</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating">
									<input type="email" name="{{ field_name(form.email) }}" class="form-control" id="email" placeholder="Adresse Email">
									<label for="email">Email</label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<input type="text" name="{{ field_name(form.sujet) }}" class="form-control" id="subject" placeholder="Sujet">
									<label for="subject">Sujet</label>
								</div>
							</div>
							<div class="col-12">
								<div class="form-floating">
									<textarea class="form-control" name="{{ field_name(form.texte) }}" placeholder="Donnez votre message ici" id="message" style="height: 150px"></textarea>
									<label for="message">Message</label>
								</div>
							</div>
							<div class="col-12">
								<button class="btn btn-primary w-100 py-3" type="submit">Envoyez message</button>
							</div>
						</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Contact End -->

{% endblock %}
