{% extends 'base.html.twig' %}

{% block title %}Modification Transaction
{% endblock %}

{% block body %}
	<div class="container-xxl py-5 bg-dark hero-header">
		<div class="container text-center my-5 pt-5 pb-4">
			<h1 class="display-3 text-white mb-3 animated slideInDown">Transaction</h1>
			<a href="/logout">
				<i class="fa fa-power-off fa-1x text-primary"></i>
			</a>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center text-uppercase">
					<li class="breadcrumb-item">
						<a href="/">Acceuil</a>
					</li>
					{% if app.user %}
						<li class="breadcrumb-item text-white active" aria-current="page">{{app.user.prenom}}
							{{app.user.nom}}</li>
					{% endif %}
					<li class="breadcrumb-item text-white active" aria-current="page">Transactions</li>
				</ol>
				{% if app.user %}
					<p class="">{{app.user.email}}</p>
				{% endif %}
			</nav>
		</div>
	</div>

	<!-- Container Form transactions Start -->
	<div class="container-xxl pb-5 px-0 wow fadeInUp" data-wow-delay="0.1s" id="">
		<div class="row g-0">
			<div class="col-lg-6 bg-dark d-flex align-items-center">
				<div class="p-5 col-12 wow fadeInUp" data-wow-delay="0.2s">
					<h5 class="section-title ff-secondary text-start text-primary fw-normal">Transaction</h5>
					<h1 class="text-white mb-4">Création de transactions pour un client</h1>
					<div class="row g-3">
						{{ form_start(form) }}
						{{ form_errors(form) }}
						<div class="row justify-content-center align-items-center">
							<div class="col-lg-6 my-3">
								<div class="form-floating date" id="date5" data-target-input="nearest">
									<input type="text" class="form-control" value="{{transaction.modepaiement}}" name="{{ field_name(form.modepaiement) }}" id="paiement" placeholder="Paiement"/>
									<label for="modepaiement">Mode de paiement</label>
								</div>
							</div>
							<div class="col-lg-6 my-3">
								<div class="form-floating date" id="date5" data-target-input="nearest">
									<input type="number" value="{{transaction.montant}}" class="form-control" name="{{ field_name(form.montant) }}" id="montant" placeholder="Montant"/>
									<label for="montant">Montant</label>
								</div>
							</div>
						</div>
						<div class="col-md-12 py-3">
							<div class="form-floating">
								<select class="form-select" id="select1" name="{{ field_name(form.commande_id) }}">
                                    <option value="{{transaction.commandeid.id}}">{{transaction.commandeid}}
									{% for commande in commandes %}
										<option value="{{commande.id}}">{{commande}}
										</option>
									{% endfor %}
								</select>
								<label for="select1">Commandes</label>
							</div>
						</div>
						<div class="col-md-12 py-3">
							<div class="form-floating">
								<select class="form-select" id="select2" name="{{ field_name(form.client_id) }}">
                                    <option value="{{transaction.clientid.id}}">{{transaction.clientid}}
									{% for client in clients %}
										<option value="{{client.id}}">{{client}}
										</option>
									{% endfor %}
								</select>
								<label for="select2">Clients</label>
							</div>
						</div>
						<div class="row justify-content-center align-items-center">
							<div class="col-lg-6  py-3">
								<button class="btn btn-primary w-100 py-3" type="submit">Modifier</button>
							</div>
							<div class="col-lg-6 text-center py-3">
								<a href="/compte">Annuler</a>
							</div>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="imagelogin">
					<span></span>
				</div>
			</div>
		</div>
	</div>

	<!-- Container Form Transactions End -->

{% endblock %}
